/*@font-face {
   font-family:Montserrat;
   font-style:normal;
   font-weight:600;
   src:local('Montserrat-Regular'), url(fonts/Montserrat-Regular.ttf) format('truetype')}
}*/
body {
   font-size: 18px;
}
.no-margin-top {
   margin-top: 0;
   padding-top: 0;
}
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.loading {
   width: 10%;
   height: 10%;
   margin: auto;
}
.button-wrap {
    margin-left: 5px;
    margin-right: 5px;
}
button {
    /* important has been set to override jQM default button constructor property */
    font-family: Lato !important;
    font-weight: bold !important;
}
.snackbar {
   font-family: Lato;
   font-weight: bold;
}
.no-radius {
    /* important has been set to override jQM default button constructor property */
    border-radius: 0px !important;
}
.form-element {
    margin-top: 20px;
    margin-bottom: 20px;
}
.controlgroup-textinput {
    padding-top: .22em;
    padding-bottom: .22em;
}
.border-accent-indigo {
   border: 2px solid #3F51B5 !important;
   border-radius: 2em !important;
}
.adjust-button-spacing {
   padding-right: 0px !important;
   padding-left: 0px !important;
   margin-left: .5em !important;
   margin-right: .5em !important;
}
